.projects {
  background-color: white;
  margin-left: 6%;
  color: black;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.project-description {
  font-size: 24px;
  color: black;
}

.display-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-bottom: 3%;
}

.display {
  margin-top: 1%;
  margin-bottom: 1%;
  opacity: 0.4;
  transition: 0.3s;
}

.display:hover {
  opacity: 1;
}

.tech-wrapper {
  color: #000;
  font-size: 20px;
  position: relative;
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.tech-1 {
  width: 40%;
  color: #1c4bcc;
  margin-bottom: 5%;
  opacity: 0.5;
  transition: 0.3s;
}
.tech-2 {
  margin-left: 14%;
  width: 30%;
  color: #e77fae;
  margin-bottom: 4%;
  opacity: 0.4;
  transition: 0.3s;
}
.tech-3 {
  margin-left: 4%;
  width: 25%;
  color: #1c4bcc;
  margin-bottom: 4%;
  opacity: 0.5;
  transition: 0.3s;
}

#smallGuy {
  font-size: 10px;
  color: #e77fae;
}

.tech-1:hover {
  opacity: 1;
}

.tech-2:hover {
  opacity: 1;
}

.tech-3:hover {
  opacity: 1;
}
