.projects {
  background-color: white;
  color: #1c4bcc;
  width: 100%;
  height: 100vh;
  display: flex;
}

.container {
  margin-left: 100px;
  margin-right: 100px;
}

.project-description {
  font-size: 36px;
  color: black;
}

.display-wrapper {
  position: relative;
  display: inline-flex;
  text-align: center;
  font-size: 14px;
}

.tech-wrapper {
  color: #000;
  font-size: 26px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.tech-logo {
  height: 100px;
  width: 100px;
  margin: 20px;
}
