html body.projects {
  background-color: white;
  color: #1c4bcc;
}

.title {
  position: absolute;
  left: 150px;
  top: 90px;
}

.project-description {
  font-size: 36px;
  position: absolute;
  left: 150px;
  top: 200px;
  color: black;
}

.display-wrapper {
  position: absolute;
  display: inline-flex;
  text-align: center;
  left: 50px;
  top: 250px;
}

.tech-wrapper {
  border-left: double;
  border-left-width: 10px;
  border-color: #1c4bcc;
  padding: 20px;
  border-radius: 5px;
  width: 200px;
  height: 400px;
  position: absolute;
  right: 50px;
  top: 250px;
  color: #000;
  font-size: 26px;
  text-align: center;
}
