.main {
  display: flex;
  width: 100%;
  height: 80vh;
  align-items: center;
}

.main-photo {
  width: 360px;
  height: 480px;
  margin-left: 6%;
  margin-right: 10%;
}

.monkey {
  z-index: 0;
  height: 480px;
}

.intro {
  font-size: 55px;
  z-index: 1;
}

.my-name {
  font-weight: 900;
}

.major {
  font-size: 30px;
}

.description {
  margin-top: 20px;
  font-size: 24px;
}

.link-container {
  margin-top: 90px;
}

.link {
  margin: 10px;
  width: 66px;
  height: 66px;
}
