.box {
  position: relative;
  display: block;
  margin: 25px 15px 0 15px;
  width: 275px;
  height: 380px;
}

.photo {
  border-style: solid;
  border-width: 10px;
  border-color: #e77fae;
  border-radius: 5px;
  /* box-shadow: 5px 10px #888888; */

  width: 275px;
  height: 200px;
}

.text {
  color: black;
}

a.photo-link {
  text-decoration: none;
}

/* unvisited link */
a.photo-link:link {
  color: #e77fae;
}

/* visited link */
a.photo-link:visited {
  color: #1c4bcc;
}

/* mouse over link */
a.photo-link:hover {
  color: #e77fae;
}

/* selected link */
a.photo-link:active {
  color: #1c4bcc;
}
