.box {
  position: relative;
  display: block;

  margin: 30px;
  width: 275px;
  height: 400px;
}

.photo {
  border-style: solid;
  border-width: 10px;
  border-color: #76e8aa;
  border-radius: 5px;
  /* box-shadow: 5px 10px #888888; */

  width: 275px;
  height: 200px;
  background-color: #76e8aa;
}

.text {
  color: black;
}

a.photo-link {
  text-decoration: none;
}

/* unvisited link */
a.photo-link:link {
  color: #76e8aa;
}

/* visited link */
a.photo-link:visited {
  color: #1c4bcc;
}

/* mouse over link */
a.photo-link:hover {
  color: #76e8aa;
}

/* selected link */
a.photo-link:active {
  color: #1c4bcc;
}
