.link {
  color: inherit;
  text-decoration: none;
}

.logo-wrapper {
  display: flex;
  width: 100px;
  height: 100px;
  margin-right: 60%;
}

.header-wrapper {
  margin-top: 1%;
  display: flex;
}

.header-item {
  margin: 50px;
  font-size: 18px;
  text-decoration: none;
}

.header-item:not(#active)::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #e77fae;
  transition: width 0.3s;
}

.header-item:not(#active):hover::after {
  width: 100%;
  transition: width 0.3s;
}

#active {
  border-bottom: 7px solid #e77fae;
  color: #e77fae;
}
