html body {
  margin: 0;
  padding: 0;
  font-family: avenir-next;
  color: white;
}

h1 {
  font-size: 55px;
}

@font-face {
  font-family: avenir-next;
  src: url(./fonts/AvenirNextLTPro-Regular.otf);
}
