.contacts {
  background-color: #1c4bcc;
  width: 100%;
  height: 100vh;
}

.contacts-description {
  font-size: 36px;
  margin-bottom: 20px;
}

.social {
  font-size: 30px;
}

.highlight {
  color: #76e8aa;
}

.contact-link-container {
  position: absolute;
  left: 150px;
  top: 500px;
}
