.contacts {
  width: 100%;
  height: 80vh;
  margin-left: 10%;
}

.contacts-description {
  font-size: 36px;
  margin-bottom: 20px;
}

.social {
  font-size: 30px;
}

.highlight-pink {
  color: #e77fae;
}

.highlight-blue {
  color: #1c4bcc;
}

.contact-link-container {
  position: absolute;
  left: 150px;
  top: 500px;
}
